* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Gugi', cursive;
  outline: none;
}

.unshow {
  display: none;
}

svg {
  position: absolute;
}

.container {
  height: 100vh;
  width: 100vw;
  border: 2vw solid #800000;
  border-radius: 10vw;
  position: relative;
  color: #000040;
  fill: #000040;
}

@media (orientation: landscape) {
  .container {
    border-radius: 0;
    border-width: 0;
  }
}

.container:-webkit-full-screen {
  background-color: white;
}

.container:-moz-full-screen {
  background-color: white;
}

.container:-ms-fullscreen {
  background-color: white;
}

.container:fullscreen {
  background-color: white;
}

.toptray {
  height: 3%;
  width: 90%;
  left: 5%;
  background-color: transparent;
  position: absolute;
  margin-top: .5%;
  z-index: 1;
}

.toptray time {
  font-size: 4vw;
  padding-right: 63%;
}

.toptray span {
  padding: 0 7% 0 0;
}

.toptray span:last-child {
  padding: 0;
}

.toptray span svg {
  height: 4vw;
  width: 4vw;
}

@media (orientation: landscape) {
  .toptray {
    height: 6%;
    width: 17vw;
    left: 83%;
    margin-top: 0;
  }
  .toptray span {
    margin: 0 7% 0 0;
  }
  .toptray span svg {
    height: 100%;
    width: 10%;
  }
  .toptray time {
    font-size: 4vh;
    padding: 0;
    margin: 0 3% 0 0;
    position: absolute;
    right: 0;
  }
}

.navswitch {
  height: 18vw;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 8vw 8vw;
}

.navswitch .windows {
  display: none;
}

.navswitch .homebtn {
  border: 0.6vw solid #800000;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  position: absolute;
  bottom: 1%;
  left: calc(50% - 7.5vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navswitch .homebtn .switch {
  background-color: #000040;
  width: 13vw;
  height: 13vw;
  border-radius: 50%;
}

.navswitch .homebtn .switch input {
  opacity: 0;
}

@media (orientation: landscape) {
  .navswitch .homebtn {
    height: 6vh;
    width: 6vh;
    border: none;
    left: 0;
    margin: 0 0 0 1vw;
  }
  .navswitch .homebtn .switch {
    height: 6vh;
    width: 6vh;
    border-radius: 0;
    background-color: transparent;
  }
}

@media (orientation: landscape) {
  .navswitch {
    height: 6%;
    border-radius: 0;
    top: 0;
    background-color: #e0e0e0;
  }
  .navswitch .windows {
    display: inline;
    margin: 0 0 0 1vw;
  }
  .navswitch .windows svg {
    height: 6vh;
    width: 6vh;
  }
}

.apphome, nav.appnav {
  height: calc(100% - 18vw);
  width: 100%;
  border-bottom: 0.5vh solid #000040;
}

@media (orientation: landscape) {
  .apphome, nav.appnav {
    height: 94%;
    position: absolute;
    top: 6%;
    border-bottom: none;
  }
}

.apphome .hometime, nav.appnav .hometime {
  height: 20%;
  position: relative;
  top: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (orientation: landscape) {
  .apphome .hometime, nav.appnav .hometime {
    top: 10%;
  }
}

.apphome .hometime .maintime, nav.appnav .hometime .maintime {
  font-size: 7.5vh;
  display: block;
}

.apphome .hometime .maindate, nav.appnav .hometime .maindate {
  font-size: 2.5vh;
}

.apphome .user, nav.appnav .user {
  background-color: #000040;
  height: 40%;
  position: relative;
  top: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.apphome .user .greet, nav.appnav .user .greet {
  color: white;
  font-size: 1.2rem;
  font-size: 3vh;
}

@media (orientation: landscape) {
  .apphome .user .greet, nav.appnav .user .greet {
    font-size: 4vh;
  }
}

.apphome .user .name, nav.appnav .user .name {
  color: white;
  font-size: 3rem;
  font-size: 7vh;
}

@media (orientation: landscape) {
  .apphome .user .name, nav.appnav .user .name {
    font-size: 12vh;
  }
}

.apphome .abt, nav.appnav .abt {
  position: relative;
  top: 15%;
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.apphome .abt .intro, nav.appnav .abt .intro {
  font-size: 2.2vh;
}

@media (orientation: landscape) {
  .apphome .abt .intro, nav.appnav .abt .intro {
    font-size: 3.5vh;
  }
}

.apphome .abt .moreintro, nav.appnav .abt .moreintro {
  font-size: 1.5rem;
  font-size: 4vh;
}

@media (orientation: landscape) {
  .apphome .abt .moreintro, nav.appnav .abt .moreintro {
    font-size: 2.5rem;
    font-size: 6vh;
  }
}

nav.appnav {
  position: relative;
  top: 5%;
  height: calc(95% - 18vw);
  overflow-y: auto;
  overflow-x: hidden;
}

@media (orientation: landscape) {
  nav.appnav {
    top: 6%;
    height: 94%;
  }
}

nav.appnav .searchfield {
  width: 80%;
  height: 6vh;
  border: 0.6vh solid #800000;
  border-radius: 3vh;
  background-color: #000040;
  color: white;
  font-size: 2.5vh;
  padding: 10px;
  position: relative;
  left: 10%;
  margin-bottom: 2vh;
}

@media (orientation: landscape) {
  nav.appnav .searchfield {
    display: none;
  }
}

nav.appnav .appid {
  position: relative;
  height: calc(84vh - 18vw);
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

@media (orientation: landscape) {
  nav.appnav .appid {
    background-color: #e0e0e0;
    border-radius: 20vh;
    height: 15vh;
    width: 50vw;
    position: absolute;
    bottom: 10vh;
    left: 25vw;
    padding: 0 5vw;
    overflow: none;
  }
}

nav.appnav .appid .appicons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: auto;
}

nav.appnav .appid .appicons span {
  height: 15vw;
  width: 15vw;
  margin: 0 0 10vw 3.5vw;
}

nav.appnav .appid .appicons span:nth-last-child(-n +5) {
  margin-bottom: 0;
}

nav.appnav .appid .appicons span svg {
  width: 15vw;
  height: 15vw;
  padding: 1vw;
  border: 1vw solid #000040;
  border-radius: 50%;
  cursor: pointer;
}

@media (orientation: landscape) {
  nav.appnav .appid .appicons span {
    height: 5vw;
    width: 5vw;
    margin: 0;
  }
  nav.appnav .appid .appicons span svg {
    height: 4vw;
    width: 4vw;
    padding: 0.25vw;
    border: none;
    top: calc((15vh - 4vw) / 2);
  }
  nav.appnav .appid .appicons span svg:hover {
    -webkit-transform: scale(2, 2);
            transform: scale(2, 2);
  }
}

nav.appnav .appid .iconnames {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 2vw;
  width: 100%;
  top: 16vw;
  left: 0%;
  z-index: -2;
}

@media (orientation: landscape) {
  nav.appnav .appid .iconnames {
    display: none;
  }
}

nav.appnav .appid .iconnames span {
  width: 15vw;
  height: 5vw;
  margin: 0 0 20vw 3.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav.appnav .appid .iconnames span:nth-last-child(-n +5) {
  margin-bottom: 0;
}
/*# sourceMappingURL=style.css.map */