@import "variables";
@import "mixins";

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    color: $color-dark;
    font-family: 'Gugi', cursive;
    outline: none;
}

.show {
    display: block;
}

.unshow {
    display: none;
}

svg {
    position: absolute;
}


.container {
    height: 100vh;
    width: 100vw;
    border: 2vw solid $color-accent;
    border-radius: 10vw;
    position: relative;

    @include landscape {
        border-radius: 0;
        border-width: 0;
    }
}

.toptray {
    height: 3%;
    width: 84%;
    left: 8%;
    background-color: transparent;
    position: absolute;
    margin-top: 1%;
    z-index: 1;

    @include tabmini{
        margin-top: 0.2%;
    }

    @include landscape {
        display: none;
    }

    time{
        color: $color-dark;
        padding-right: 63%;
        @include tabmini {
            padding-right: 70%;
        }
    }
    span {
        padding: 0 7% 0 0;
    }

    .last {
        padding: 0;
    }
    
    .battery, .bluetooth, .network, .wifi{
        fill: $color-dark;
        height: 15px;
        width: 15px;

        @include tabmini{
            height: 25px;
            width: 25px;
        }
    }
}



.phonebtn {
    border: 2px solid $color-accent;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    position: absolute;
    bottom: 1%;
    left: calc(50% - 7.5vw);
    display: flex;
    justify-content: center;
    align-items: center;

    @include tabmini {
        border-width: 5px;
    }

    @include landscape {
        display: none;
    }

    .switch{
        background-color: $color-dark;
        width: 13vw;
        height: 13vw;
        border-radius: 50%;

        input{
            opacity: 0;
        }
    }
}

#homePage {
    height: calc(100% - 18vw);
    width: 100%;
    border-bottom: 2px solid $color-dark;

    @include landscape {
        height: 90%;
        border-radius: 0;
    }

    .hometime{
        height: 20%;
        position: relative;
        top: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include landscape {
            top: 10%;
        }
        
        .maintime {
            font-size: 3rem;
            display: block;
            
            @include tabmini{
                font-size: 5rem;
            }

            @include tabnorm{
                font-size: 7.5rem;
            }

            @include landscape {
                font-size: 3rem;
            }

        }

        .maindate {
            font-size: 1rem;

            @include tabmini{
                font-size: 1.5rem;
            }

            @include tabnorm{
                font-size: 2.5rem;
            }
        }
    }

    .user{
        background-color: $color-dark;
        height: 40%;
        position: relative;
        top: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .greet{
            color: $color-light;
            font-size: 1.2rem;

            @include tabmini{
                font-size: 1.8rem;
            }

            @include tabnorm{
                font-size: 2.7rem;
            }

            @include landscape{
                font-size: 2.2rem;
            }
        }

        .name{
            color: $color-light;
            font-size: 3rem;

            @include tabmini{
                font-size: 4.5rem;
            }

            @include tabnorm{
                font-size: 7rem;
            }

            @include landscape {
                font-size: 5rem;
            }
        }
    }
    
    .abt{
        position: relative;
        top: 15%;
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .intro{
            font-size: 1rem;

            @include tabmini{
                font-size: 2rem;
            }

            @include tabnorm{
                font-size: 2.2rem;
            }

            @include landscape{
                font-size: 1.5rem;
            }
        }

        .moreintro{
            font-size: 1.5rem;

            @include tabmini{
                font-size: 2.5rem;
            }

            @include tabnorm{
                font-size: 3.5rem;
            }

            @include landscape {
                font-size: 2.5rem;
            }
        }

        
    }
        
}

nav.phonenav{
    @extend #homePage;
    position: relative;
    top: 5%;
    height: calc(95% - 18vw);
    // background-image: url(./img.jpg);

        .searchfield{
            width: 80%;
            height: 6vh;
            border: 5px solid $color-accent;
            border-radius: 3vh;
            background-color: $color-dark;
            color: $color-light;
            font-size: 1.5rem;
            padding: 10px;
            position: relative;
            left: 10%;
            margin-bottom: 3%;
        }

        .appid{
            position: relative;
        }
        
        .appicons{
            display: flex;
            flex-wrap: wrap;
            overflow: auto;
            
            span{
                padding: 0% 14% 25% 5%;
            }
        
            .calculator, .settings, .bluetooth, .network, .wifi, .battery, .text{
                fill: $color-dark;
            }
                 
            .sh3rifficon, .calculator, .settings, .bluetooth, .network, .wifi, .battery{
                width: 15%;
                height: 15vw;
                position: absolute;
                background-color: $color-light;
                padding: 1vw;
                border: .25rem solid $color-dark;
                border-radius: 50%;

                @include tabmini{
                    border: .35rem solid $color-dark;
                }
                @include tabnorm{
                    border: .45rem solid $color-dark;
                }

            }
        }

        .iconnames{
            position: absolute;
            display: flex;
            flex-wrap: wrap;
            font-size: 2.5vw;
            height: 100%;
            width: 100%;
            top: 16vw;
            left: 7%;

            span{
                width: 15vw;
                padding: 0% 14% 25% 5%;
                display: flex;
                justify-content: center;
            }
        }

            
    @include landscape {
        display: none;
    }
}


nav.desktopnav{
    @extend #homePage;
    display: none;

    @include landscape {
        display: block;
        height: 10%;
        padding: 0;
        position: fixed;
        bottom: 0;
        background-color: $color-accent;
    }

    .innerdesktopnav{
        width: 98%;
        height: 80%;
        position: relative;
        left: 1%;
        top: 10%;
        background-color: $color-dark;
        border-radius: 4vh;

        .appicons{
            position: absolute;
            height: 100%;
            width: 84%;
            left: 1%;
            top: 15%;

            span{
                padding: 0 5% 0 0;
            }

            .sh3rifficon {
                background-color: $color-light;
                border: 1px $color-accent solid;
                border-radius: 50%;
                padding: 2px;
            }

            .calculator, .settings, .windows {
                fill: $color-light;
            }

            .sh3rifficon, .calculator, .settings, .windows {
                height: 80%;
                width: 6.4vh;
                position: absolute;
            }

        }

        .navtray{
            height: 60%;
            width: 15%;
            position: absolute;
            right: 0;
            top: 20%;
            span{
                padding: 0 15% 0 0;
            }
            .battery, .bluetooth, .network, .wifi{
                fill: $color-light;
                height: 3.2vh;
                width: 3.2vh;
                position: absolute;
                top: 10%;
            }
            .navtime{
                color: $color-light;
                font-size: 1.5rem;
                
            }
        }
    }

    
}
