* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000c18;
  font-family: 'Gugi', cursive;
  outline: none;
}

.show {
  display: block;
}

.unshow {
  display: none;
}

svg {
  position: absolute;
}

.container {
  height: 100vh;
  width: 100vw;
  border: 2vw solid #5a1426;
  border-radius: 10vw;
  position: relative;
}

@media (orientation: landscape) {
  .container {
    border-radius: 0;
    border-width: 0;
  }
}

.toptray {
  height: 3%;
  width: 90%;
  left: 5%;
  background-color: transparent;
  position: absolute;
  margin-top: .5%;
  z-index: 1;
}

@media (orientation: landscape) {
  .toptray {
    display: none;
  }
}

.toptray time {
  color: #000c18;
  font-size: 4vw;
  padding-right: 63%;
}

.toptray span {
  padding: 0 7% 0 0;
}

.toptray span:last-child {
  padding: 0;
}

.toptray span svg {
  fill: #000c18;
  height: 4vw;
  width: 4vw;
}

.phonebtn {
  border: 0.6vw solid #5a1426;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  position: absolute;
  bottom: 1%;
  left: calc(50% - 7.5vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (orientation: landscape) {
  .phonebtn {
    display: none;
  }
}

.phonebtn .switch {
  background-color: #000c18;
  width: 13vw;
  height: 13vw;
  border-radius: 50%;
}

.phonebtn .switch input {
  opacity: 0;
}

#homePage, nav.phonenav, nav.desktopnav {
  height: calc(100% - 18vw);
  width: 100%;
  border-bottom: 0.5vh solid #000c18;
}

@media (orientation: landscape) {
  #homePage, nav.phonenav, nav.desktopnav {
    height: 90%;
    border-radius: 0;
  }
}

#homePage .hometime, nav.phonenav .hometime, nav.desktopnav .hometime {
  height: 20%;
  position: relative;
  top: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (orientation: landscape) {
  #homePage .hometime, nav.phonenav .hometime, nav.desktopnav .hometime {
    top: 10%;
  }
}

#homePage .hometime .maintime, nav.phonenav .hometime .maintime, nav.desktopnav .hometime .maintime {
  font-size: 7.5vh;
  display: block;
}

#homePage .hometime .maindate, nav.phonenav .hometime .maindate, nav.desktopnav .hometime .maindate {
  font-size: 2.5vh;
}

#homePage .user, nav.phonenav .user, nav.desktopnav .user {
  background-color: #000c18;
  height: 40%;
  position: relative;
  top: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#homePage .user .greet, nav.phonenav .user .greet, nav.desktopnav .user .greet {
  color: white;
  font-size: 1.2rem;
  font-size: 3vh;
}

@media (orientation: landscape) {
  #homePage .user .greet, nav.phonenav .user .greet, nav.desktopnav .user .greet {
    font-size: 4vh;
  }
}

#homePage .user .name, nav.phonenav .user .name, nav.desktopnav .user .name {
  color: white;
  font-size: 3rem;
  font-size: 7vh;
}

@media (orientation: landscape) {
  #homePage .user .name, nav.phonenav .user .name, nav.desktopnav .user .name {
    font-size: 12vh;
  }
}

#homePage .abt, nav.phonenav .abt, nav.desktopnav .abt {
  position: relative;
  top: 15%;
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#homePage .abt .intro, nav.phonenav .abt .intro, nav.desktopnav .abt .intro {
  font-size: 2.2vh;
}

@media (orientation: landscape) {
  #homePage .abt .intro, nav.phonenav .abt .intro, nav.desktopnav .abt .intro {
    font-size: 3.5vh;
  }
}

#homePage .abt .moreintro, nav.phonenav .abt .moreintro, nav.desktopnav .abt .moreintro {
  font-size: 1.5rem;
  font-size: 4vh;
}

@media (orientation: landscape) {
  #homePage .abt .moreintro, nav.phonenav .abt .moreintro, nav.desktopnav .abt .moreintro {
    font-size: 2.5rem;
    font-size: 6vh;
  }
}

nav.phonenav {
  position: relative;
  top: 5%;
  height: calc(95% - 18vw);
}

nav.phonenav .searchfield {
  width: 80%;
  height: 6vh;
  border: 0.6vh solid #5a1426;
  border-radius: 3vh;
  background-color: #000c18;
  color: white;
  font-size: 2.5vh;
  padding: 10px;
  position: relative;
  left: 10%;
  margin-bottom: 2vh;
}

nav.phonenav .appid {
  position: relative;
  height: calc(84vh - 18vw);
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

nav.phonenav .appid .appicons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: auto;
}

nav.phonenav .appid .appicons span {
  height: 15vw;
  width: 15vw;
  margin: 0 0 10vw 3.5vw;
}

nav.phonenav .appid .appicons span:nth-last-child(-n +5) {
  margin-bottom: 0;
}

nav.phonenav .appid .appicons span svg {
  width: 15vw;
  height: 15vw;
  padding: 1vw;
  border: 1vw solid #000c18;
  border-radius: 50%;
  z-index: -1;
}

nav.phonenav .appid .iconnames {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 2vw;
  width: 100%;
  top: 16vw;
  left: 0%;
  z-index: -2;
}

nav.phonenav .appid .iconnames span {
  width: 15vw;
  height: 5vw;
  margin: 0 0 20vw 3.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav.phonenav .appid .iconnames span:nth-last-child(-n +5) {
  margin-bottom: 0;
}

@media (orientation: landscape) {
  nav.phonenav {
    display: none;
  }
}

nav.desktopnav {
  display: none;
}

@media (orientation: landscape) {
  nav.desktopnav {
    display: block;
    height: 10%;
    padding: 0;
    position: fixed;
    bottom: 0;
    background-color: #5a1426;
  }
}

nav.desktopnav .innerdesktopnav {
  width: 98%;
  height: 80%;
  position: relative;
  left: 1%;
  top: 10%;
  background-color: #000c18;
  border-radius: 4vh;
  z-index: -2;
}

nav.desktopnav .innerdesktopnav .appicons {
  position: absolute;
  height: 100%;
  width: 82%;
  left: 1%;
  top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav.desktopnav .innerdesktopnav .appicons span {
  height: 90%;
  width: 3.5vw;
  margin: 0  .5vw 0 0;
  background-color: transparent;
}

nav.desktopnav .innerdesktopnav .appicons span svg {
  fill: white;
  height: 80%;
  width: 3.5vw;
  z-index: -1;
}

nav.desktopnav .innerdesktopnav .navtray {
  height: 60%;
  width: 17%;
  position: absolute;
  right: 0;
  top: 20%;
}

nav.desktopnav .innerdesktopnav .navtray span {
  margin: 0 15% 0 0;
}

nav.desktopnav .innerdesktopnav .navtray span svg {
  fill: white;
  height: 80%;
  width: 1.5vw;
  position: absolute;
  top: 10%;
}

nav.desktopnav .innerdesktopnav .navtray .navtime {
  color: white;
  font-size: 3vh;
  position: absolute;
}
/*# sourceMappingURL=style.css.map */