@import "variables";
@import "mixins";

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Gugi', cursive;
    outline: none;
}

.unshow {
    display: none;
}

svg {
    position: absolute;
    // pointer-events: none;
}


.container {
    height: 100vh;
    width: 100vw;
    border: 2vw solid $color-accent;
    border-radius: 10vw;
    position: relative;
    color: $color-dark;
    fill: $color-dark;

    @include landscape {
        border-radius: 0;
        border-width: 0;
    }
}

.toptray {
    height: 3%;
    width: 90%;
    left: 5%;
    background-color: transparent;
    position: absolute;
    margin-top: .5%;
    z-index: 1;
    
    time{
        font-size: 4vw;
        padding-right: 63%;
    }
    span {
        padding: 0 7% 0 0;
        &:last-child{
            padding: 0;
        }

        svg{
            height: 4vw;
            width: 4vw;
        }
    }




    @include landscape{
        height: 6%;
        width: 17vw;
        left: 83%;
        margin-top: 0;

        span{
            margin: 0 7% 0 0;
            svg{
                height: 100%;
                width: 10%;
            }
        }

        time{
            font-size: 4vh;
            padding: 0;
            margin: 0 3% 0 0;
            position: absolute;
            right: 0;
        }
    }

    

}

.navswitch{
    height: 18vw;
    width: 100%;    
    position: absolute;
    bottom: 0;
    border-radius: 0 0 8vw 8vw;

    .windows{
        display: none;
    }

    .homebtn {
        border: .6vw solid $color-accent;
        width: 15vw;
        height: 15vw;
        border-radius: 50%;
        position: absolute;
        bottom: 1%;
        left: calc(50% - 7.5vw);
        display: flex;
        justify-content: center;
        align-items: center;
           
        .switch{
            background-color: $color-dark;
            width: 13vw;
            height: 13vw;
            border-radius: 50%;
    
            input{
                opacity: 0;
            }
        }

        @include landscape {
            height: 6vh;
            width: 6vh;
            border: none;
            left: 0;
            margin: 0 0 0 1vw;

            .switch{
                height: 6vh;
                width: 6vh;
                border-radius: 0;
                background-color: transparent;
            }
        }
    }

    @include landscape{
        height: 6%;
        border-radius: 0;
        top: 0;
        background-color: $color-bk-grey;

        .windows{
            display: inline;
            margin: 0 0 0 1vw;          
            svg{
                height: 6vh;
                width: 6vh;
            }
        }
    }
}


.apphome {
    height: calc(100% - 18vw);
    width: 100%;
    border-bottom: .5vh solid $color-dark;

    @include landscape {
        height: 94%;
        position: absolute;
        top: 6%;
        border-bottom: none;
    }

    .hometime{
        height: 20%;
        position: relative;
        top: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include landscape {
            top: 10%;
        }
        
        .maintime {
            font-size: 7.5vh;
            display: block;
        }

        .maindate {
            font-size: 2.5vh;
        }
    }

    .user{
        background-color: $color-dark;
        height: 40%;
        position: relative;
        top: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .greet{
            color: $color-light;
            font-size: 1.2rem;
            font-size: 3vh;

            @include landscape{
                font-size: 4vh;
            }
        }

        .name{
            color: $color-light;
            font-size: 3rem;
            font-size: 7vh;

            @include landscape {
                font-size: 12vh;
            }
        }
    }
    
    .abt{
        position: relative;
        top: 15%;
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .intro{
            font-size: 2.2vh;

            @include landscape{
                font-size: 3.5vh;
            }
        }

        .moreintro{
            font-size: 1.5rem;
            font-size: 4vh;
           
            @include landscape {
                font-size: 2.5rem;
                font-size: 6vh;
            }
        }

        
    }
        
}

nav.appnav{
    @extend .apphome;
    position: relative;
    top: 5%;
    height: calc(95% - 18vw);
    // background-image: url(./img.jpg);
    @include landscape{
        top: 6%;
        height: 94%;
    }

        .searchfield{
            width: 80%;
            height: 6vh;
            border: .6vh solid $color-accent;
            border-radius: 3vh;
            background-color: $color-dark;
            color: $color-light;
            font-size: 2.5vh;
            padding: 10px;
            position: relative;
            left: 10%;
            margin-bottom: 2vh;
            @include landscape{
                display: none;
            }
        }

        .appid{
            position: relative;
            height: calc(84vh - 18vw);
            width: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            @include landscape{
                background-color: $color-bk-grey;
                border-radius: 20vh;
                height: 15vh;
                width: 50vw;
                position: absolute;
                bottom: 10vh;
                left: 25vw;
                padding: 0 5vw;
            }

            .appicons{
                display: flex;
                flex-wrap: wrap;
                overflow: auto;
                
                span{
                    height: 15vw;
                    width: 15vw;
                    margin: 0 0 10vw 3.5vw;

                    &:nth-last-child(-n +5) {
                        margin-bottom: 0;
                    }
                    svg{
                        width: 15vw;
                        height: 15vw;
                        padding: 1vw;
                        border: 1vw solid $color-dark;
                        border-radius: 50%;
                        cursor: pointer;
                        
                    }
                }

                @include landscape{
                    span{
                        height: 5vw;
                        width: 5vw;
                        margin: 0;
                        svg{
                            height: 4vw;
                            width: 4vw;
                            padding: 0.25vw;
                            border: none;
                            top: calc((15vh - 4vw) / 2);
                            &:hover{
                                transform: scale(2, 2);
    
                            }
                        }
                    }
                }
                     
            }
    
            .iconnames{
                position: absolute;
                display: flex;
                flex-wrap: wrap;
                font-size: 2vw;
                width: 100%;
                top: 16vw;
                left: 0%;
                z-index: -2;
            @include landscape{
                display: none;
            }
    
                span{
                    width: 15vw;
                    height: 5vw;
                    margin: 0 0 20vw 3.5vw;
                    display: flex;
                    justify-content: center;
                    
                    &:nth-last-child(-n +5) {
                        margin-bottom: 0;
                    }
                }
            }
        }
        
}
